*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpstorm.meta.php
.pylanceignore
_ide_helper.php
_ide_helper_models.php
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.phpunit.result.cache
