includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    # The level to use
    level: 5

    # If you want to require each variable to have a specified type on `strict` mode
    checkMissingIterableValueType: false

    # Ignore these errors in phpstan analyse
    ignoreErrors:
        # Facade methods
        -
            message: '#Undefined method (App|Illuminate)#'
            path: app/Http/Controllers
        # Model methods
        -
            message: '#Call to undefined method.*Model#'
            path: app
        # Helper functions
        -
            message: '#Undefined function (view|response|redirect|route|asset|auth|now|config|env|trans|trans_choice|__)\(#'

    # Paths to exclude from analysis
    excludePaths:
        - vendor
        - node_modules
        - tests

    # Laravel specific settings
    laravel:
        is_enabled: true

    # Extensions to enable
    extensions:
        - vendor/nunomaduro/larastan/extension.neon
